<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1096707781312-fmjs124r3243t5kh01q7jnk1n5cgo8uv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1096707781312-fmjs124r3243t5kh01q7jnk1n5cgo8uv</string>
	<key>API_KEY</key>
	<string>AIzaSyAcv4t5OdfOWyxj7ll2mNJoT8KNMXPjrz8</string>
	<key>GCM_SENDER_ID</key>
	<string>1096707781312</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dileep.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chat-dileep</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-dileep.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1096707781312:ios:82e4a897ca08b032717325</string>
</dict>
</plist>